/* font style  */
body{
    font-family: 'Bitter', serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Solway', serif; 
}
/* navigation ber */
nav{
    display: flex; justify-content: space-evenly; align-items: center; padding-top: 20px;
}
    nav div{
    
    }
    nav div p{
    font-size: 26px; color: #3A3A3A; width: 700px;
    }
    nav div a {
    text-decoration: none;  margin-right: 34px; color: #3A3A3A; font-size: 16px;
    }
    nav div i {
     margin-right: 30px; color: #3A3A3A; font-size: 16px;
    }
    /* level1 */
.lavel1{
    display: flex;
}
.details h1{
width: 700px; font-size: 52px; line-height: 70px;
}
.details{
    margin: 25px 133px 0 50px; height: 270px; width: 580px;
}
.details button{
    background-color: #E02C6D;gap: 8px; border-radius: 41px;padding: 10px 24px; border: none; color: aliceblue;
}
.lavel1 div img {
    width: 440px; height: 414px; left: 835px;  margin-top: 50px; margin-right: 40px;
}
    /* logo layout */
    .logos{
        margin: 100px 165px;
    }
.logo{
    margin-right: 40px;
}