/* font style  */
body{
    font-family: 'Bitter', serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Solway', serif; 
}
/* navigation ber */
nav{
    display: flex; justify-content: space-evenly; align-items: center; padding-top: 20px;
}
    nav div{
    
    }
    nav div p{
    font-size: 26px; color: #3A3A3A; width: 700px;
    }
    nav div a {
    text-decoration: none;  margin-right: 34px; color: #3A3A3A; font-size: 16px;
    }
    nav div i {
     margin-right: 30px; color: #3A3A3A; font-size: 16px;
    }
    /* level1 */
.lavel1{
    display: flex;
}
.details h1{
width: 700px; font-size: 52px; line-height: 70px;
}
.details{
    margin: 25px 133px 0 50px; height: 270px; width: 580px;
}
.details button{
    background-color: #E02C6D;gap: 8px; border-radius: 41px;padding: 10px 24px; border: none; color: aliceblue;
}
.lavel1 div img {
    width: 440px; height: 414px; left: 835px;  margin-top: 50px; margin-right: 40px;
}
    /* logo layout */
    .logos{
        margin: 100px 165px;
    }
.logo{
    margin-right: 40px;
}
/* products details */
.product2{
    text-align: center;
}
.abc{
    display: grid; grid-template-columns: repeat(3, 1fr);  margin-left: 60px; margin-top: 60px; row-gap: 40px;
}
 .products{
    height: 476px; width: 329px; padding: 17px 1px 0 17px; box-shadow: 1px 1px 14px 1px #3A3A3A;
}
div .products-image{
    height: 256px; width: 300px;
}
div .product-title{
    height: 28px;
}
.products i{
    color: orange; 
}
.products span{
    margin-left: 7px;
}
.products p{
    font-size: 14px; color:  #787885;
}
.see{
    background-color: #E02C6D;gap: 8px; border-radius: 41px;padding: 10px 24px; border: none; color: aliceblue; margin-top: 30px; margin-left: 85%;
}